@font-face {
  font-family: sservice; 
  src: url(/sservice.ttf); /* Путь к файлу со шрифтом */
 }


.App {
  text-align: center;
  background-color: #b0dcbe;
}
.App-header {
  height: 100px;
  font-family: sservice;
  font-size: 40px;
  color: #ffe4c4;
  text-shadow: -2px 2px white;
}
.App-main {
  background-color: #b0dcbe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
